#add-topay{
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;

}


#add-topay input[type="submit"]{
    flex-basis: 0;
    flex-grow: 3;
    padding: 10px;
    background: #7f4cc1;
    border-radius: 0 4px 4px 0;
    border: 2px solid #7f4cc1;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
